<div class='intro'>
	<p>I CAN do something great in 30 DAYS</p>
	<p><%= image_tag 'activities.png', :width => 300 %></p>
	<p>IF I (like other <%= User.count %> people) ...</p>
	<p>
		<ul>
			<li>SET A PLAN for myself</li>
			<li>SPEND 1 HOUR everyday</li>
			<li>SHOW MY PROGRESS to everyone</li>
		</ul>
	</p>
</div>