<% execution_on_today = plan.execution_on_today %>
<%= draw_plan(plan) %>

<script>
	function setStatusClass(element, status) {
		<%= Execution::Status.list.inspect.html_safe %>.each(function(classname) {
			element.removeClassName(classname)
		})
		element.addClassName(status)
	}

	function showExecutionDetail(status) {
		var detailSticker = $('execution_sticker')
		setStatusClass(detailSticker, status)

		if(!detailSticker.visible()) {
			detailSticker.appear()
		}
	}
	
	function hideExecutionDetail() {
		var detailSticker = $('execution_sticker')
		if(detailSticker.visible()) {
			detailSticker.fade()
		}
	}		
</script>

<% if execution_on_today %>
<div id="execution_sticker" style='display:none'>
	<div class="close_button" onclick='hideExecutionDetail()'></div>
	<div id="execution_detail">
		<%= render :partial => 'executions/execution', :object => execution_on_today, 
			:locals => {:hide_sticker => plan != current_plan} %>
	</div>
</div>
<% end %>