<ul class="plans">
	<% current_user.plans.each do |plan| %>
		<li>
			<div class="plan_card">
				<h4><%= link_to plan.title, plan_path(plan) %></h4>
				<% plan.habits.each do |habit| %>
					<%= habit.summary %><br/>
				<% end %>
				<br/>
				
				<%= delete_button plan %>
			</div>
		</li>
	<% end %>
</ul>