<a href="http://twitter.com/share" class="twitter-share-button" data-count="none" 
	data-text="<%= execution.description %>" data-via="1HourForMe">Tweet</a>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>