<script src="<%= full_asset_path(widget_path(current_user)) %>"></script>

<div style="clear:both; height: 30px"></div>

<%= %(<script src="#{full_asset_path(widget_path(current_user))}"></script>) %>